html{
  font-size:20px;
}
.body_div{
  position:absolute;
  width: 64rem;
  height: 49rem;
  z-index: 1000;
  background-image: linear-gradient(rgb(91,174,175),rgb(224,232,205));
}
@media screen and (min-device-width:1024px){
  .body_div{
    width:100%
  }
}
.TopBar{
   position: fixed;
   background-color:whitesmoke;
   top:0;
   left:0;
   right: 0;
   height: 6%;
   margin-top: 1rem;
   margin-left: 5%;
   margin-right: 5%;
   z-index: 1000;
   border-radius: 1.5rem;
   display:flex;
   justify-content: space-around;
}
.Portrait{
  width:auto;
  height:80%;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
}
.Search{
  font-size: 0.7rem;
  border:0.1rem solid rgb(231,232,235);
  border-radius: 1.5rem;
  width: 45%;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
  box-sizing: border-box;
  outline: none;
  background-position: 0.5rem,0.5rem; 
  background-repeat: no-repeat;
  background-image: url(../../img/search.png);
}
.Message{
  width:auto;
  height:60%;
  margin-top: auto;
  margin-bottom: auto;
}
/*由于设置了TopBar在页面最顶层，所以需要一个div占位使得map位于页面Topbar的下面*/
.Occupy{
  width: 100%;
  height: 5rem;
}
.map{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Building{
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  flex:none
}
.Building_div{
  width: 10rem;
  height: 10rem;
  padding: 1rem;
}
.Tree_c{
  width: 2rem;
  height: 10rem;
}
.Rank1{
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: flex-start;
}
.Rank2{
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: flex-start;
}
.Rank3{
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.Rank4{
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.Rank5{
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}